In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import pickle as pkl
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
card = pd.read_csv('fraudTrain.csv')

In [4]:
card.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
card.shape

(1296675, 23)

In [6]:
card.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [7]:
card.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [8]:
X = card.drop('is_fraud', axis = 1)

In [9]:
X.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [10]:
Y = card[['is_fraud']]

In [11]:
Y.head()

   is_fraud
0         0
1         0
2         0
3         0
4         0

In [12]:
X.drop('trans_date_trans_time', axis = 1, inplace = True)

In [13]:
X.head()

,Unnamed: 0,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [14]:
X.drop('merchant', axis = 1, inplace = True)

In [15]:
X.drop('category', axis = 1, inplace = True)
X.drop('first', axis = 1, inplace = True)
X.drop('last', axis = 1, inplace = True)

In [16]:
X.head()

,Unnamed: 0,cc_num,amt,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2703186189652095,4.97,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,630423337322,107.23,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,38859492057661,220.11,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,3534093764340240,45.00,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,375534208663984,41.96,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [17]:
X.drop('street', axis = 1, inplace = True)
X.drop('city', axis = 1, inplace = True)
X.drop('state', axis = 1, inplace = True)
X.drop('job', axis = 1, inplace = True)

In [18]:
X.head()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2703186189652095,4.97,F,28654,36.0788,-81.1781,3495,1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,630423337322,107.23,F,99160,48.8878,-118.2105,149,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,38859492057661,220.11,M,83252,42.1808,-112.2620,4154,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,3534093764340240,45.00,M,59632,46.2306,-112.1138,1939,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,375534208663984,41.96,M,24433,38.4207,-79.4629,99,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [19]:
X.dtypes

Unnamed: 0      int64
cc_num          int64
amt           float64
gender         object
zip             int64
lat           float64
long          float64
city_pop        int64
dob            object
trans_num      object
unix_time       int64
merch_lat     float64
merch_long    float64
dtype: object

In [20]:
X['dob'] = X['dob'].str.replace('-','')

In [21]:
X.head()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2703186189652095,4.97,F,28654,36.0788,-81.1781,3495,19880309,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,630423337322,107.23,F,99160,48.8878,-118.2105,149,19780621,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,38859492057661,220.11,M,83252,42.1808,-112.2620,4154,19620119,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,3534093764340240,45.00,M,59632,46.2306,-112.1138,1939,19670112,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,375534208663984,41.96,M,24433,38.4207,-79.4629,99,19860328,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [22]:
X.dtypes

Unnamed: 0      int64
cc_num          int64
amt           float64
gender         object
zip             int64
lat           float64
long          float64
city_pop        int64
dob            object
trans_num      object
unix_time       int64
merch_lat     float64
merch_long    float64
dtype: object

In [23]:
X['gender'].replace({'M': 1 }, inplace = True)
X['gender'].replace({'F': 0 }, inplace = True)

In [24]:
X.head()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2703186189652095,4.97,0,28654,36.0788,-81.1781,3495,19880309,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,630423337322,107.23,0,99160,48.8878,-118.2105,149,19780621,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,38859492057661,220.11,1,83252,42.1808,-112.2620,4154,19620119,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,3534093764340240,45.00,1,59632,46.2306,-112.1138,1939,19670112,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,375534208663984,41.96,1,24433,38.4207,-79.4629,99,19860328,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [25]:
X.drop('trans_num', axis = 1, inplace = True)

In [26]:
X1 = X.astype('float64')

In [27]:
X1.head()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,unix_time,merch_lat,merch_long
0,0.0,2.703186e+15,4.97,0.0,28654.0,36.0788,-81.1781,3495.0,19880309.0,1.325376e+09,36.011293,-82.048315
1,1.0,6.304233e+11,107.23,0.0,99160.0,48.8878,-118.2105,149.0,19780621.0,1.325376e+09,49.159047,-118.186462
2,2.0,3.885949e+13,220.11,1.0,83252.0,42.1808,-112.2620,4154.0,19620119.0,1.325376e+09,43.150704,-112.154481
3,3.0,3.534094e+15,45.00,1.0,59632.0,46.2306,-112.1138,1939.0,19670112.0,1.325376e+09,47.034331,-112.561071
4,4.0,3.755342e+14,41.96,1.0,24433.0,38.4207,-79.4629,99.0,19860328.0,1.325376e+09,38.674999,-78.632459

In [28]:
X1.dtypes

Unnamed: 0    float64
cc_num        float64
amt           float64
gender        float64
zip           float64
lat           float64
long          float64
city_pop      float64
dob           float64
unix_time     float64
merch_lat     float64
merch_long    float64
dtype: object

In [29]:
X1.corr()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,unix_time,merch_lat,merch_long
Unnamed: 0,1.000000,0.000386,-0.000251,-0.000945,0.000709,0.000602,-0.000676,-0.001678,0.003734,0.998971,0.000541,-0.000671
cc_num,0.000386,1.000000,0.001769,0.001112,0.041459,-0.059271,-0.048278,-0.008991,0.000394,0.000354,-0.058942,-0.048252
amt,-0.000251,0.001769,1.000000,0.001034,0.001843,-0.001926,-0.000187,0.005818,0.009748,-0.000293,-0.001873,-0.000151
gender,-0.000945,0.001112,0.001034,1.000000,-0.065951,0.042935,0.050404,-0.028649,-0.005109,-0.000960,0.042645,0.050350
zip,0.000709,0.041459,0.001843,-0.065951,1.000000,-0.114290,-0.909732,0.078467,-0.010968,0.000670,-0.113561,-0.908924
lat,0.000602,-0.059271,-0.001926,0.042935,-0.114290,1.000000,-0.015533,-0.155730,-0.047861,0.000632,0.993592,-0.015509
long,-0.000676,-0.048278,-0.000187,0.050404,-0.909732,-0.015533,1.000000,-0.052715,0.030192,-0.000642,-0.015452,0.999120
city_pop,-0.001678,-0.008991,0.005818,-0.028649,0.078467,-0.155730,-0.052715,1.000000,0.091421,-0.001714,-0.154781,-0.052687
dob,0.003734,0.000394,0.009748,-0.005109,-0.010968,-0.047861,0.030192,0.091421,1.000000,0.003653,-0.047474,0.030115
unix_time,0.998971,0.000354,-0.000293,-0.000960,0.000670,0.000632,-0.000642,-0.001714,0.003653,1.000000,0.000561,-0.000635
merch_lat,0.000541,-0.058942,-0.001873,0.042645,-0.113561,0.993592,-0.015452,-0.154781,-0.047474,0.000561,1.000000,-0.015431
merch_long,-0.000671,-0.048252,-0.000151,0.050350,-0.908924,-0.015509,0.999120,-0.052687,0.030115,-0.000635,-0.015431,1.000000

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X1, Y, random_state = 2, test_size = 0.2)

In [31]:
classifier = LogisticRegression()

In [32]:
classifier.fit(X_train, Y_train)

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
X_train.shape

(1037340, 12)

In [34]:
Y_train.head()

         is_fraud
680282          0
232571          0
1046000         0
905705          0
1135031         0

In [35]:
Y_train.shape

(1037340, 1)

In [36]:
Y_pred = classifier.predict(X_test)

In [37]:
accuracy = accuracy_score(Y_pred, Y_test)

In [38]:
print(accuracy)

0.9942583916555806

In [39]:
X1.head()

,Unnamed: 0,cc_num,amt,gender,zip,lat,long,city_pop,dob,unix_time,merch_lat,merch_long
0,0.0,2.703186e+15,4.97,0.0,28654.0,36.0788,-81.1781,3495.0,19880309.0,1.325376e+09,36.011293,-82.048315
1,1.0,6.304233e+11,107.23,0.0,99160.0,48.8878,-118.2105,149.0,19780621.0,1.325376e+09,49.159047,-118.186462
2,2.0,3.885949e+13,220.11,1.0,83252.0,42.1808,-112.2620,4154.0,19620119.0,1.325376e+09,43.150704,-112.154481
3,3.0,3.534094e+15,45.00,1.0,59632.0,46.2306,-112.1138,1939.0,19670112.0,1.325376e+09,47.034331,-112.561071
4,4.0,3.755342e+14,41.96,1.0,24433.0,38.4207,-79.4629,99.0,19860328.0,1.325376e+09,38.674999,-78.632459

In [40]:
input = (0, 2703186189652095,	4.97, 0, 28654,	36.0788, -81.1781, 3495.0, 19880309.0, 1325376018, 36.011293, -82.048315)
npin = np.asarray(input)
rs = npin.reshape(1, -1)
fraud_pred = classifier.predict(rs)

fraud_pred

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [41]:
filename = 'fraud_model.sav'
pkl.dump(classifier, open(filename, 'wb'))

In [42]:
card.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00